<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Declarations -->
<!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->

<div class="alert alert-warning alert-dismissible fade show my-3" role="alert" th:fragment="alert">
    <div class="d-flex justify-content-start align-items-center">
        <i class="fas fa-exclamation-triangle me-3"></i>
        <div th:text="${errorMessage}">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

</body>
</html>
