<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Page header / Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <div class="container">
        <a class="navbar-brand mb-0 h1" th:href="@{/}">
            <i class="fas fa-rocket fs-2 pe-3 text-primary"></i>
            Spring Boot ODATA
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${module == 'sample' ? 'active' : ''}" th:href="@{/}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${module == 'user' ? 'active' : ''}" th:href="@{/user/list}">
                        User
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${module == 'role' ? 'active' : ''}" th:href="@{/role/list}">
                        Role
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${module == 'tenant' ? 'active' : ''}"
                       th:href="@{/tenant/list}">
                        Tenant
                    </a>
                </li>
            </ul>

            <form class="d-flex d-none d-lg-block" method="post" th:action="@{/logout}">
                <button class="btn " type="submit"><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </div>
    </div>
</nav>

</body>
</html>
