<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot ODATA - Sample</title>
</head>
<body>

<!-- Declarations -->
<!--/*@thymesVar id="tenants" type="java.util.List<me.wirries.demo.springodata.model.Tenant>"*/-->
<!--/*@thymesVar id="samples" type="java.util.List<me.wirries.demo.springodata.model.Sample>"*/-->

<section>
    <!-- Introduction -->
    <div class="row pb-3 mb-5 border-bottom">
        <h1>Get started with Spring Boot ODATA</h1>
        <p class="fs-5">
            <!-- TODO Write text for demo-->
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua.
        </p>

        <!-- Actions -->
        <div class="mt-1 d-flex justify-content-end">
            <form action="#" method="post" th:action="@{/sample/reset}">
                <button class="btn btn-danger px-2" type="submit">
                    <i class="fas fa-recycle me-2"></i>Reset samples
                </button>
            </form>
            <form action="#" method="get" th:action="@{/h2}">
                <button class="btn btn-secondary px-2 ms-1" type="submit">
                    <i class="fas fa-database me-2"></i>Show database
                </button>
            </form>
        </div>
    </div>

    <!-- Table with the current sample data -->
    <div class="row pb-3 mb-5 border-bottom">
        <a id="dataTable"><h3>Current data</h3></a>

        <!-- Filter for tenant -->
        <form action="#" method="post" th:action="@{/sample/list}" th:object="${selectedTenant}">
            <div class="mb-3">
                <label class="form-label" for="selectedTenant">Tenant</label>
                <select id="selectedTenant" class="form-select" onchange="this.form.submit()" th:field="*{tenantId}">
                    <option value=""
                            th:selected="${selectedTenant.tenantId == null || selectedTenant.tenantId == ''}">
                        All tenants
                    </option>
                    <option th:each="tenant: ${tenants}"
                            th:value="${tenant.tenantId}"
                            th:text="${tenant.name}"
                            th:selected="${tenant.tenantId == selectedTenant.tenantId}">&nbsp;
                    </option>
                </select>
            </div>
        </form>

        <!-- Current data table -->
        <table class="table align-middle">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tenant</th>
                <th scope="col">String</th>
                <th scope="col">Int</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${samples.size() == 0}">
                <td colspan="6">
                    <div class="fw-bolder text-center">No data found</div>
                </td>
            </tr>
            <tr th:each="sample, status: ${samples}">
                <th scope="row" th:text="${status.index+1}">&nbsp;</th>
                <td th:text="${sample.tenant?.name}">&nbsp;</td>
                <td th:text="${sample.colString}">&nbsp;</td>
                <td th:text="${sample.colInt}">&nbsp;</td>
                <td th:text="${#dates.format(sample.colDate, 'dd.MM.yyyy HH:mm:ss')}">&nbsp;</td>
                <td>
                    <form action="#" method="post" th:action="@{/sample/delete}">
                        <input type="hidden" name="uuid" th:value="${sample.uuid}"/>
                        <button class="btn btn-link btn-sm" type="submit">
                            <i class="fas fa-trash text-danger"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
